<% @data.each do |t| %>
    <tr>
      <td><%=t['author']['name'] %></td>
      <td><%=t['beer']['name'] %></td>
      <td><%= t['beer']['brewery'] %></td>
      <td><%= t['rating'] %></td>
      <td><%= t['likeCount'] %></td>
      <br/>
      <br/>
      <br/>
    </tr>

<%end %>